.navBar {
  display: flex;
  justify-content: space-between;
  background-color: #1F3F6E;
  font-family: Poppins, sans-serif;
  max-height: 100px;
}

.list {
  display: flex;
  list-style: none;
  align-items: center;
  color: #ffffff;
}

.item {
  margin-right: 15px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.label {
  font-size: 30px;
  font-weight: bold;
  align-items: center;
  color: #ffffff;
  margin-right: 25px;
}

.item:hover {
  cursor: poiter;
  color: #5B6D88;
}

.logoImg {
  margin-right: 25px;
  cursor: pointer;
  color: aliceblue;
  
}