.fixedText {
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 15px;
}

.screen1title {
    display: flex;
    justify-content: center;
    font-size: 22px;
    margin: 0;
    font-weight: bold;
}

.colText {
    margin-right: 5px;
    font-weight: bold;
    font-size: medium;
}

.col2Text {
    font-size: medium;
}

.container1col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container2col {
    display: flex;
    justify-content: space-around;
}

.titleText {
    font-weight: bold;
    font-size: large;
}

.hrStyle {
    display: flex;
    flex-direction: row;

}

.containerScree3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.paragTitle {
    margin: 0;
    font-weight: bold;
    font-size: 22px;
}

.paragLabels {
    margin: 0;
    font-weight: bold;
}

.divisionLine {
    flex-direction: row;
    width: 400px;
    border: 1px solid #1F4070;
    margin-top: 0;
    margin-left: 14rem;

}