.bgImg {
    justify-content: center;
    display: flex;
    position: absolute;
    opacity: 0.1;
    align-self: center;
    align-content: center;
    pointer-events: none;
    caret-color: transparent
}