.text {
    color: #f0f0f0;
    font-size: 30px;
    align-items: center;
    display: flex;
    font-weight: bold;
    font-family: sans-serif;
    margin: auto;
    caret-color: transparent
}

.logoBox {
    width: 120PX;
    height: 80px;
    margin-bottom: 1rem;
}

.icon {
    margin-right: 2rem;
}

.icon:hover {
    color: #275296;
}

.logoImg {
    margin-right: 25PX;
    width: 120PX;
    height: 80px;

}


@media (max-width: 768px) {
    .layout {
        min-height: 100%;
    }

}