.equipButton {
    background-color: #FF007F;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 15px;
    width: 150px;

}

.equipButton:hover {
    background-color: royalblue;
}