.bodySpace {
  background-image: url(../img/atl_azul.png);
  background-repeat: no-repeat;
  background-size: 700px;
  opacity: 0.1;
  margin-left: 25%;
  margin-top: 5%;
}


.modal {
  margin: 1rem;
}

@media (max-width: 768px) {
  .bodyPage {
    min-height: 100%;
  }

  .bodySpace {
    margin: 7%;
    max-width: 80%;
    max-height: 100%;
  }
}