.containerButtons {
    display: flex;
    flex-direction: column;
}

.teste {
    margin-top: 10px;
    /* Espaçamento entre os botões (ajuste conforme necessário) */
}

.contractButton {
    background-color: royalblue;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    margin: 0;
    /* Adicionado para remover a margem padrão do botão */
}

.contractButton:hover {
    background-color: darkblue;
}