.conteinerForm {
    align-items: center;

}

.title {
    padding: 15px;
    font-size: 30px;
}

.Formbutton {
    background-color: #1F4070;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 15px;
    width: 150px;
    margin: 2rem;
}

.Formbutton:hover {
    background-color: royalblue;
    cursor: pointer;
}

.containerEquip {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100vh;
    margin: 0 auto;
    padding: 20px;
    margin-right: 25rem;
}

.containerEquip label {
    text-align: left;
    font-weight: bold;
}

.labelExtra {
    width: 180px;
}

.containerEquip input {
    width: 180px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.enderecoInput input {
    width: 780px;
}

.containerEquipExtra {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 100vh;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    margin-right: 25rem;
}

.containerEquipExtra label {
    text-align: left;
    font-weight: bold;
}

.labelExtra {
    width: 180px;
}

.containerEquipExtra input {
    width: 180px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.containerIp {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    width: 100vh;
    margin: 0 auto;
    padding: 20px;
    margin-right: 25rem;
}

.containerIp label {
    text-align: left;
    font-weight: bold;
}

.containerIp input {
    width: 180px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.containerPorts {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    width: 100vh;
    margin: 0 auto;
    padding: 20px;
    margin-right: 25rem;
}

.containerPorts label {
    text-align: left;
    font-weight: bold;
}

.containerPorts input {
    width: 180px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.containerExtPorts {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    width: 100vh;
    margin: 0 auto;
    padding: 20px;
    margin-right: 25rem;
}

.containerExtPorts label {
    text-align: left;
    font-weight: bold;
}

.containerExtPorts input {
    width: 180px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}